---
import Section from "../Section.astro";
import { work } from "../../cv.json";
---

<Section title="Experiencia">
  <ul>
    {work.map(({name, startDate,endDate,summary,position }) =>
      <li>{name}</li>
      <li>{position}</li>
      <li>{startDate} - {endDate}</li>
      <li>{summary}</li>
    )}
  </ul>
</Section>
